body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff0000' fill-opacity='0.65'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

div .indexmenu {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    color: black;
    background-color: white;
    border: 0px black;
    margin: 0%;
    padding: 0%;
    
}

.inicio {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid;
    background-color: black;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;

}

.discos {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid;
    background-color: black;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;

}

.giras {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid;
    background-color: black;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;

}


.galeria {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid;
    background-color: black;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;

}

.contacto {
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid;
    background-color: black;
    padding-right: 0em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    margin-right: 0px;
    margin-left: 0.5em;

}

.logo {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    padding-right: 50px;
    float: right;
}

.title {
    border: 0px solid;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 17px;
    padding-bottom: 0px;
    margin-right: 20px;
    margin-left: 130px;
    padding-top: 80px;
}

.fotoinicio {
    border: 10px solid black;
    width: 1474px;
    height: auto;
    padding: 0px;
    margin: 0px;
    text-align: left;
    float: left;
}

.textoprincipal {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 1400px;
    height: 350px;
    border: 2px solid white;
    color: white;
    background-color: black;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: justify;
    float: left;
    margin-left: 25px;
    margin-right: 5px;

}

.estilomusical {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 1400px;
    height: 350px;
    border: 2px solid white;
    color: white;
    background-color: black;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
    float: left;
    margin-left: 25px;
    margin-right: 5px;

}

.video {
    text-align: left;
    border: 3px solid white;
    color: white;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    margin-left: 450px;
    margin-right: 500px;

}

.extra {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    width: 1400px;
    height: 150px;
    border: 2px solid white;
    color: white;
    background-color: black;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    float: left;
    margin-left: 25px;
    margin-right: 5px;

}

.displai {
    display: inline-block;

}

.img1 img {
    float: left;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    text-align: center;
    border: 17px solid white;
    color: white;
    background-color: black;
    height: 300px;
    width: 300px;

}

.img1 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.img2 img {
    float: left;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    text-align: center;
    border: 17px solid white;
    color: white;
    background-color: black;
    height: 300px;
    width: fit-content;

}

.img2 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

/* contacto */

.caixa {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding-top: 0.25em;
    padding-bottom: 1em;
    padding-left: 350px;
    padding-right: 350px;
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 170px;
    margin-right: 170px;
}

.nom {
    border: 0px solid;
    text-align: justify;
    padding: 30px;

}

.correu{
    border: 0px solid;
    text-align: justify;
    padding: 30px;

}

.desitg{
    border: 0px solid;
    text-align: justify;
    padding: 30px;
}

.contacte{
    border: 0px solid;
    text-align: justify;
    padding: 30px;
}

.missatge{
    border: 0px solid;
    text-align: justify;
    padding: 30px;
}

.missatge2{
    border: 0px solid;
    padding-right: 500px;
    margin-top: 10px;
    
}

.button {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-left: 350px;
    color: white;
    background-color: black;

}

/* giras */

.subtitle {
    border: 0px solid;
    background-color: black;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-left: 70px;
    padding-left: 20px;
    padding: 10px;
    margin-right: 30px;
    text-align: left;
}

.subsubtitle {
    border: 0px solid;
    background-color: black;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 7px;
}

.tablagirasborder tr, td {
    border: 3px solid white;
    border-style: groove;
}

.tablagiras {
    background-color: black;
    font-size: 32px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: white;
    width: 1290px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    height: max-content;
    margin-bottom: 90px;

}

.subtitle2 {
    border: 0px solid;
    background-color: black;
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    padding-bottom: 0px;
    margin-left: 70px;
    padding-left: 20px;
    padding: 10px;
    margin-right: 30px;
    text-align: left;
}

.volver {
    text-align: left;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    margin-left: 25px;
    margin-right: 5px;
    margin-bottom: 30px;
}

/* discos */

div .discopequeño {
    border: 0px solid;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-position: center;

}

div div .taulapetita{
    font-family: 'Teko', sans-serif;
    border: 0px;
    margin-left: 190px;
    margin-right: 200px;
    margin-bottom: 80px;

}
.taulapetita, table, .titulodisco{
    background-color: black;
    border: 0px solid;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

div div .taula{
    font-family: 'Teko', sans-serif;
    border: 0px;
    margin-left: 90px;
    margin-right: 90px;
    color: white;

}

.taula table {
    background-color: black;
    border: 2px solid white;
}

.taulapetita table {
    background-color: black;
    border: 2px solid white;
}

.titulodisco a {
    color: white;
}

.taula td, ol{
    border: none;
}
.taulapetita td, ol{
    border: none;
}

div .disco{
    border: 0px solid;
    height: 500px;
    width: 500px;
    padding: 30px;
    margin: 30px;
    background-position: top;
}

div div .listado{
    border: 0px solid;
    width: 800px;
    height: 500px;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    color: white;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 20px;

}

/* mapa */

.logomapa {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    width: 100px;
    height: 100px;
    float: left;
}

.imagen{
    float: center;
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.checkbox {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    text-align: justify;
    width: fit-content;
    height: 230px;
    border: 2px solid white;
    color: white;
    background-color: black;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    float: center;
    margin-left: 1000px;
    margin-right: 5px;

}

.button {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-left: 350px;
    color: white;
    background-color: black;

}